body {
   @apply bg-zinc-800 font-sans antialiased text-md;
   font-optical-sizing: auto;
}

button {
   @apply cursor-pointer;
}

body.no-js .wjs,
body:not(.no-js) .nojs {
   display: none !important;
}

summary {
   @apply cursor-pointer;
}

[x-cloak] {
   @apply hidden;
}

@keyframes barprogress {
   0% {
      background-position: 0% 0;
   }
   to {
      background-position: 125% 0;
   }
}

#tv {
   view-transition-name: tv;
}

::view-transition-group(tv) {
   animation: none;
}

.cav-body-loading #loading-bar {
   @apply h-3.5;
   background: linear-gradient(to right, #f00, #fc0, #f00);
   background-size: 500%;
   animation: 2s linear infinite barprogress;
}

#loading-bar.error {
   @apply h-5;
}

.btn-item {
   @apply bg-neutral-800 hover:bg-neutral-700;
}

.menu-only-icons .menu-item-text {
   @apply sr-only;

   i {
      @apply not-sr-only;
   }
}

summary.custom-marker {
   @apply flex justify-between items-center;
   --fa: '\f078';
}

[open] > summary.custom-marker {
   --fa: '\f068';
}

summary.custom-marker::after {
   font-family: 'Font Awesome 6 Free';
   content: var(--fa);
   font-weight: 900;
}

body:not(.no-js) .share-hidden {
   opacity: 0;
   padding: 0;
   margin: 0;
   overflow: hidden;
   height: 0px;
   transform: scaleY(0);
}
